*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Variables */

:root {
  --color-strong-cyan: hsl(171, 66%, 44%);
  --color-light-blue: hsl(233, 100%, 69%);
  --color-dark-grayish-blue: hsl(210, 10%, 33%);
  --color-blue-grayish: hsl(201, 11%, 66%);
  --heading-1-font-size: 1.5rem;
  --heading-2-font-size: 1.25rem;
  --heading-3-font-size: 1rem;
  --heading-3-font-size: 0.8rem;
}

@media screen and (max-width: 768px) {
  :root {
    --heading-1-font-size: 2.25rem;
    --heading-2-font-size: 1.5rem;
    --heading-3-font-size: 1.25rem;
    --heading-3-font-size: 1rem;
  }
}

/* Typography */

body {
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-blue-grayish);
  padding: 0 1rem;
  background: url(../images/bg-header-mobile.png);
  background-repeat: no-repeat;
}

p {
  font-size: 0.985;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: var(--color-dark-grayish-blue);
}

h1 {
  font-size: var(--heading-1-font-size);
}

h2 {
  font-size: var(--heading-2-font-size);
}

h3 {
  font-size: var(--heading-3-font-size);
}

h4 {
  font-size: var(--heading-4-font-size);
}

h5 {
  font-size: var(--heading-5-font-size);
}

h6 {
  font-size: var(--heading-6-font-size);
}

/* Buttons */

.btn {
  border: 0;
  width: 100%;
  height: 50px;
  display: block;
  text-align: center;
  color: white;
  border-radius: 40px;
  padding: 0.8rem;
  margin-top: 1.5rem;
}

.btn--primary {
  background-color: var(--color-strong-cyan);
  box-shadow: 0 0 5px var(--color-strong-cyan);
}

.btn--secondary {
  background-color: var(--color-light-blue);
  box-shadow: 0 0 5px var(--color-light-blue);
}

/* Header */

.header {
  text-align: center;
  padding: 6rem 0;
  background-size: cover;
}

.header__heading {
  margin: 0;
  margin-top: 3.5rem;
}

.header__text {
  margin: 0;
  margin-top: 1rem;
}

/* Showcase */

.showcase {
  text-align: center;
}

.showcase__grid {
  display: grid;
}

.showcase__img {
  width: 100%;
}

.showcase__text {
  margin: 0;
  margin-top: 0.6rem;
  margin-bottom: 2rem;
}

.showcase__heading {
  margin: 0;
}

/* Benefits */

.benefits__heading {
  margin: 0;
  margin: 2rem 0 0.4rem 0;
}

.benefits__text {
  margin: 0;
}

/* Download Block */

.download {
  text-align: center;
}

/* Companies */

.companies {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-gap: 2rem;
}
