<div class="showcase">
  <div class="showcase__grid">
    <h2 class="showcase__heading">Keep track of your snippets</h2>
    <p class="showcase__text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum voluptates
      magnam ratione itaque laboriosam officiis, illo modi quas commodi quaerat!
    </p>
    <img class="showcase__img" src="images/image-computer.png" alt="" />
    <div class="benefits">
      <div class="box benefits__box-one">
        <h3 class="benefits__heading">Quick Search</h3>
        <p class="benefits__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut soluta
          harum, tenetur eos quis eaque?
        </p>
      </div>
      <div class="box benefits__box-two">
        <h3 class="benefits__heading">iCloud Sync</h3>
        <p class="benefits__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut soluta
          harum, tenetur eos quis eaque?
        </p>
      </div>
      <div class="box benefits__box-three">
        <h3 class="benefits__heading">Complete History</h3>
        <p class="benefits__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut soluta
          harum, tenetur eos quis eaque?
        </p>
      </div>
    </div>
  </div>
</div>
